<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>shiplog</title>
    <link rel="stylesheet" href="style/shiplog.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="icon" href="style/logo-4.svg" type="image/svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app" style="display: none" v-show="true">
        <nav>
            <span class="logo">
                <img v-show="!currentDay" src="style/logo-4.svg">
                <i v-show="currentDay" v-on:click="back" class="fa fa-chevron-left fa-fw clickable"></i>
            </span>
            <span v-if="currentDay">
                {{ getIndex(currentDay.id) }}
                <span v-text="currentDay.id"></span>
                - {{ dayOfWeek }} -
            </span>
            shiplog
            <span v-if="filter && filter.length > 1">
                - {{filter}}
            </span>

            <!-- <span class="where-am-i">
                {{ whereAmI }}
            </span> -->

            <span class="right-menu" v-on:click="isMenuOpen = !isMenuOpen" v-show="user">
                <i class="fa fa-bars"></i>
            </span>

            <span class="loading-top" v-show="loading && loading.length">
                <i class="fa fa-circle-o-notch fa-spin "></i>
            </span>

            <div class="sub-menu" v-show="isMenuOpen">
                <ul>
                    <!-- <li>
                        <i class="fa fa-bar-chart"></i>
                        stats
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                        profile
                    </li>
                    <li>
                        <i class="fa fa-filter"></i>
                        export
                    </li> -->
                    <li v-on:click="logout">
                        <i class="fa fa-sign-out"></i>
                        logout
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content-container"
            id="scrolling-container"
            ref="scrolling-container"
            v-on:scroll.passive="handleScroll">
            <div id="login" v-show="page == 'login'" class="form">
                <h2> welcome, sailor! <i class="fa fa-compass"></i></h2>
                <p>
                    slow down, take a moment, reflect. how did you get here?
                </p>
                <p>
                    as we wander, sometimes it's good to look back, see where we came from. as you type,
                    new perspectives shall open to show you the way forward. give it a try! log every day!
                </p>
                <h2>login</h2>
                <form>
                    <p v-show="error"><strong v-text="error"></strong></p>
                    <input type="email" placeholder="email" v-model="credentials.email">
                    <input type="password" placeholder="password" v-model="credentials.password">
                    <button v-on:click="login">login</button>
                    <p>
                        <a v-on:click="page = 'forgot'">forgot password</a>
                        <a v-on:click="page = 'register'">register</a>
                    </p>
                </form>

                <div class="main-logo">
                    <!-- <i class="fa fa-ship"></i> -->
                    <img src="style/logo-4.svg">
                </div>
            </div>

            <div id="register" class="form" v-show="page == 'register'">
                <h2><i class="fa fa-chevron-left clickable" v-on:click="page = 'login'"></i> register</h2>
                <p>glad you join the journey! keep the pirates off your way!</p>
                <form>
                    <p v-show="error"><strong v-text="error"></strong></p>
                    <input type="email" placeholder="email" v-model="credentials.email">
                    <input type="password" placeholder="password" v-model="credentials.password">
                    <input type="password" placeholder="password-again" v-model="credentials.passwordAgain">
                    <button v-on:click="register" :disabled="!credentials.email || loading.length > 0">register</button>
                    <i v-show="loading.length" class="fa fa-circle-o-notch fa-spin "></i>
                </form>
            </div>

            <div id="forgot" class="form" v-show="page == 'forgot'">
                <h2><i class="fa fa-chevron-left clickable" v-on:click="page = 'login'"></i> forgot your password?</h2>
                <p>too much rum maybe? keep those barrels in check!</p>
                <form>
                    <input type="email" placeholder="email" v-model="credentials.email">
                    <button v-on:click="sendPasswordReset" >Reset my Password</button>
                </form>
            </div>

            <div id="reset-sent" class="form" v-show="page == 'reset-sent'">
                <h2>reset sent! <i class="fa fa-envelope"></i></h2>
                <p>if you had an account with this email, there should be a reset link in your inbox...</p>
                <a v-on:click="page = 'login'" >try logging in again</a>
            </div>

            <div id="day-list" v-show="user && !currentDay">
                <ul class="menu-list">
                    <template v-for="(day, id, index) in filteredDayList || dayList" >
                        <li v-if="isDividerVisible(id)" class="divider">
                            {{ yearMonth(id) }}
                        </li>
                        <li v-on:click="changeTheDay(id)"
                            v-bind:class="{ today: id == todayId, 'not-in-db': day.empty }" v-bind:id="id"
                            class="clickable">
                            {{ index }} {{ id }} <strong>{{ day.title }}</strong> {{day.tags}}
                        </li>
                    </template>
                </ul>
                <div class="first-day" v-show="firstDayId === todayId">
                    <p>this is where your days will gather. keep them for the future!</p>
                </div>
                <div class="search-box" v-show="!loading">
                    <i class="fa icon clickable"
                        v-bind:class="{ 'fa-search': !filter, 'fa-times': filter }"
                        v-on:click="filter?filter = '':focusInput()"></i>
                    <input placeholder="lost something to the water, sailor?" v-model="filter" ref="filter">
                </div>
                <div class="scroll-buttons" v-show="dayList && (Object.keys(dayList).length > 30)">
                    <button v-on:click="scrollTop" class="top"><i class="fa fa-chevron-up"></i></button>
                    <button v-on:click="scrollBottom" class="bottom"><i class="fa fa-chevron-down"></i></button>
                </div>
            </div>

            <div id="day-edit" v-if="user && currentDay">
                <editor inline-template
                    v-bind:day="currentDay"
                    v-bind:day-list="dayList"
                    v-bind:first-day-id="firstDayId"
                    v-bind:change-the-day="changeTheDay">
                    <div>
                    <input placeholder="title" v-model="day.title">
                    <input placeholder="tags" v-model="day.tags">
                    <textarea placeholder="write about your day" class="my-day" id="day-description"
                        v-model="day.description"></textarea>

                    <div class="footer">
                        <button v-on:click="goPrevDay" class="prev"><i class="fa fa-chevron-left"></i></button>
                        <button v-on:click="goNextDay" class="next"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div>
                        <div v-if="getIndex(prevDayId(day.id)) > -1" class="history clickable" v-on:click="changeTheDay(prevDayId(day.id))">
                            <p>yesterday</p>
                            <p>{{ getIndex(prevDayId(day.id)) }} {{ prevDayId(day.id) }}
                                <strong>{{ prevDay()?.title }}</strong> {{ prevDay()?.tags }} </p>
                            <p>{{ prevDay()?.description }}</p>
                        </div>
                        <div v-for="(day, id, index) in lastYearList" class="clickable">
                            <div v-on:click="changeTheDay(id)" class="history">
                                <p>{{ day.yearAgo }} year{{ (day.yearAgo &gt; 1)?'s':'' }} ago</p>
                                <p> {{ getIndex(id) }} {{ id }}
                                    <strong>{{ day.title }}</strong> {{day.tags}}</p>
                                <p>{{ day.description }}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </editor>
            </div>
        </div>
    </div>

    <script src="node_modules/firebase/firebase-app.js"></script>
    <script src="node_modules/firebase/firebase-auth.js"></script>
    <script src="node_modules/firebase/firebase-database.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script type="module" src="lib/shiplog.js"></script>
</body>

</html>